<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>

<!-- {% with messages = get_flashed_messages() %}
  {% if messages %}
        {% for message in messages %}
      <center><b>{{ messages }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}  -->
<body>
    <form method="POST">
    <div class="box">
        <div class="form">
            <h2>ADMIN REGISTER</h2>
            <div class="inputBox">
                <input type="text"name="username" required>
                <span>Username</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="email"name="email" required>
                <span>Email</span>
                <i></i>
            </div>
            <div class="inputBox">  
              <input type="password"name="password" required>
              <span>Password</span>
              <i></i>
            </div>
            <div class="inputBox">
              <input type="passcode" name="passcode" required>
              <span>Passcode</span>
              <i></i>
            </div>

            <input type="submit" value="Register"><br>
            <a class="log" href="{{url_for('login')}}" target="_blank">Already Have an Account?</a>
        </div>
    </div>
</form>
</body>
</html>
